<h1>Image Gallery</h1>
    <div class="image-gallery">
        <%= image_tag("rocky_mountains.jpg", class: "gallery-img", alt: "rocky mountains") %>
        <%= image_tag("coastal_maine.jpg", class: "gallery-img", alt: "coastal maine") %>
        <%= image_tag("redwood_forest.jpg", class: "gallery-img", alt: "redwood forest") %>
        <%= image_tag("bison.jpg", class: "gallery-img", alt: "bison") %>
        <%= image_tag("grand_canyon.jpg", class: "gallery-img", alt: "grand canyon") %>
        <%= image_tag("yosemite.jpg", class: "gallery-img", alt: "yosemite") %>
        <%= image_tag("rocky_mountains.jpg", class: "gallery-img", alt: "rocky mountains") %>
        <%= image_tag("coastal_maine.jpg", class: "gallery-img", alt: "coastal maine") %>
        <%= image_tag("redwood_forest.jpg", class: "gallery-img", alt: "redwood forest") %>
        <%= image_tag("bison.jpg", class: "gallery-img", alt: "bison") %>
        <%= image_tag("grand_canyon.jpg", class: "gallery-img", alt: "grand canyon") %>
        <%= image_tag("yosemite.jpg", class: "gallery-img", alt: "yosemite") %>
        <%= image_tag("rocky_mountains.jpg", class: "gallery-img", alt: "rocky mountains") %>
        <%= image_tag("coastal_maine.jpg", class: "gallery-img", alt: "coastal maine") %>
        <%= image_tag("redwood_forest.jpg", class: "gallery-img", alt: "redwood forest") %>
        <%= image_tag("bison.jpg", class: "gallery-img", alt: "bison") %>
        <%= image_tag("grand_canyon.jpg", class: "gallery-img", alt: "grand canyon") %>
        <%= image_tag("yosemite.jpg", class: "gallery-img", alt: "yosemite") %>
        <%= image_tag("rocky_mountains.jpg", class: "gallery-img", alt: "rocky mountains") %>
        <%= image_tag("coastal_maine.jpg", class: "gallery-img", alt: "coastal maine") %>
        <%= image_tag("redwood_forest.jpg", class: "gallery-img", alt: "redwood forest") %>
        <%= image_tag("bison.jpg", class: "gallery-img", alt: "bison") %>
        <%= image_tag("grand_canyon.jpg", class: "gallery-img", alt: "grand canyon") %>
        <%= image_tag("yosemite.jpg", class: "gallery-img", alt: "yosemite") %>
    </div>